<% for record in @outlays do %>
  <div class="record" data-id="<%= record.id %>">
    <%= record.note %>&nbsp;
    
    <span class="amount">
      <%= record.amount %>
    </span>
  </div>
<% end %>
