.archive {
  position: relative;
}

.archive_months {
  width: 150px;
  position: absolute;
  left: -175px;
}

.month.active a{
  color: #755;
}

.month.active {
  background: #dde !important;
}

.archive_months .month {
  border: 1px solid #aaa;
  background: #eee;
  text-shadow: 1px 1px 1px #fff;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  width: 150px;
  text-align: right;
}

.archive_months a {
  color: #555;
  text-decoration: none;
}

.archive_months a:hover {
  color: #336;
}

.archive_months .month .small {
  font-size: 10px;
  line-height: 10px;
  color: #aaa;
}
